.logo {
    width: 170px;
    height: 60px;
}
header {
    background-color:#9CD6F4;
padding: 15px;
}
body{
    margin: 0;

}
section{
    padding: 15px;
}
.subtitle{
    margin:0;
    color: gray;
    font-size: 15px;
}
.subtitle-data{
    margin: 0;
    color: gray;
    font-size: 10px;
}

#text-title{
    margin-bottom: 0;
    font-size: xx-large;
}
#the-booleaner{
    color: #4EB5FF;
}

#data{
    font-size: 10px;
}
figure{
    margin: 0;
    padding: 15px;
}
#img-palestra{
    width: 30%;
    margin-top: 15px;
}
#img-wikimedia{
    width: 25.7%;
    margin-top: 15px;
}
#subimg{
    margin: 0;
    font-size: x-small;
}
#text{
    margin-top: 0px;
}
ul{
    padding-left: 15px;
}
#color{
    background-color:yellow ;
}